.button:active {
      background-color: rgb(220, 220, 220);
}

.button {
      height: 250px;
      width: 250px;
}

.delete {
      color: red;
}

.delete:hover {
      cursor: pointer;
}

.delete:active {
      color: rgb(244, 132, 132);
}